name: Thrershold Website CI

on:
  pull_request:
    branches:
      - main
      - threshold-site-2.0
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "16"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: "Set up security.txt and .well-known/security.txt"
        run: |
          mkdir static/.well-known
          cp static/security.txt static/.well-known/security.txt

      - name: Build preview
        if: github.event_name == 'pull_request'
        run: yarn build:prefixed
        env:
          PUBLIC_URL: /${{ github.head_ref }}

      - name: Build
        if: github.event_name == 'push'
        run: yarn build
        env:
          PUBLIC_URL: /
          POSTHOG_SUPPORT: true
          POSTHOG_API_KEY: ${{ secrets.MAINNET_POSTHOG_API_KEY }}
          POSTHOG_HOSTNAME_HTTP: ${{ secrets.MAINNET_POSTHOG_HOSTNAME_HTTP }}

      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: public

  deploy-preview:
    name: Deploy preview
    needs: build
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4

      - name: Deploy PR to GCP
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.PROD_PREVIEW_UPLOADER_SERVICE_KEY_JSON_BASE64 }}
          project: ${{ secrets.PROD_PREVIEW_GOOGLE_PROJECT_ID }}
          bucket-name: preview.threshold.network
          bucket-path: ${{ github.head_ref }}
          build-folder: build

      - name: Post preview URL to PR
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Preview uploaded to https://preview.threshold.network/${{ github.head_ref }}/index.html.'
            })

  deploy:
    name: Deploy
    needs: build
    if: github.event_name == 'push'
    # production environment is protected, it requires an approval before execution.
    environment:
      name: prod
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4

      - name: Deploy build to GCP
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.PROD_UPLOADER_SERVICE_KEY_JSON_BASE64 }}
          project: ${{ secrets.PROD_GOOGLE_PROJECT_ID }}
          bucket-name: threshold.network
          build-folder: build
          set-website: true
          home-page-path: index.html
          error-page-path: index.html
